<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=pdstorage123;AccountKey=5uuNT2L4UI9gZNzPf25BTu5Y2ASJOglzDn591qN4ohgVRDdaVdCHo7dvxBfDphKob79Vd65d0ik/a0EnI0f1Ag==;BlobEndpoint=https://pdstorage123.blob.core.windows.net/;QueueEndpoint=https://pdstorage123.queue.core.windows.net/;TableEndpoint=https://pdstorage123.table.core.windows.net/;FileEndpoint=https://pdstorage123.file.core.windows.net/;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=pdstorage123;AccountKey=5uuNT2L4UI9gZNzPf25BTu5Y2ASJOglzDn591qN4ohgVRDdaVdCHo7dvxBfDphKob79Vd65d0ik/a0EnI0f1Ag==;BlobEndpoint=https://pdstorage123.blob.core.windows.net/;QueueEndpoint=https://pdstorage123.queue.core.windows.net/;TableEndpoint=https://pdstorage123.table.core.windows.net/;FileEndpoint=https://pdstorage123.file.core.windows.net/;" />
  </connectionStrings>
</configuration>
